body {

}
#container {
	position: relative;
    margin: 30px auto;
    background-color: #111111;
    width : 960px;
    height: 580px;
    color: #F0F0F0;
    padding:10px;
}

#container a {
    text-decoration: none;
    color: aqua;
}

