body {
    color:#FFF;
    font-family: YuGothicM;
    font-weight: bold;
}
#container {
	position: relative;
    margin: 30px auto;
    background-color: #FFF;
    width : 960px;
    height: 530px;
    color: #111;
    padding:10px;
}

#container a {
    text-decoration: none;
    color: aqua;
}
.footer_developer th{
    text-align: right;
}

.footer_div {
	background-image: none;
}

h1{
    text-align: center;
}