/* 大サイズのポップアップ */
.modal-content-big{
	position:absolute;
	width:80%;
	height:80%;
	top:10%;
	left:10%;
	background:#fff;
	z-index:999;
	display:none;
}
/* 中サイズのポップアップ */
.modal-content-normal{
	position:absolute;
	width:70%;
	height:70%;
	top:15%;
	left:15%;
	background:#fff;
	z-index:999;
	display:none
}
/* 小サイズのポップアップ */
.modal-content-small{
	position:absolute;
	width:60%;
	height:60%;
	top:20%;
	left:20%;
	background:#fff;
	z-index:999;
	display:none;
}

/* aタグにカーソルが乗ったら指に変える */
a:hover{
	cursor:pointer;	
}

/* ポップアップ表示時のグレースケール */
#modal-overlay{
	position: absolute;
	z-index:998;
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.75);
}